<div class="container pt-4">
  <!-- Define search bar -->
  <mat-form-field appearance="outline"
    class="bg-light rounded w-100 p-2 mb-4">
    <mat-label>Search by name</mat-label>
    <input matInput
      [(ngModel)]="searchName"
      (keyup)="filterUsers()">
  </mat-form-field>


  <!-- Define filters -->
  <div class="row mb-3">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Domain</mat-label>
        <mat-select [(ngModel)]="selectedDomain"
          (selectionChange)="filterUsers()">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let domain of domains"
            [value]="domain">{{ domain }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="selectedGender"
          (selectionChange)="filterUsers()">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let gender of genders"
            [value]="gender">{{ gender }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Availability</mat-label>
        <mat-select [(ngModel)]="selectedAvailability"
          (selectionChange)="filterUsers()">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let availability of availabilities"
            [value]="availability">{{ availability }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Define users cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col"
      *ngFor="let user of filteredUsers">
      <mat-card class="shadow-sm">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="user.avatar"
              alt="{{ user.first_name }} {{ user.last_name }} profile picture">
          </div>
          <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
          <span *ngIf="user.availability === 'Available'"
            class="badge rounded-pill bg-success ms-2">Available: {{ user.available }}</span>
          <span *ngIf="user.availability === 'Unavailable'"
            class="badge rounded-pill bg-danger ms-2">Unavailable: {{ user.available }}</span>
        </mat-card-header>

        <mat-card-content>
          <p>Email: {{ user.email }}</p>
          <p>Domain: {{ user.domain }}</p>
          <p>Gender: {{ user.gender }}</p>
          <button mat-raised-button
            color="primary"
            *ngIf="!user.selected"
            (click)="addToTeam(user)">Add to Team</button>
          <button mat-raised-button
            color="warn"
            *ngIf="user.selected"
            (click)="removeFromTeam(user)">Remove from Team</button>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

  <!-- Define pagination -->
  <!-- <div class="d-flex justify-content-center my-3">
    <mat-paginator [pageSizeOptions]="[10, 25, 50]"
      showFirstLastButtons></mat-paginator>
  </div> -->

  <div class="flex items-center justify-center mt-8">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md disabled:bg-gray-300 disabled:cursor-not-allowed"
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1">Previous</button>
    <span class="text-gray-700 mx-4">Page {{ currentPage }}</span>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md disabled:bg-gray-300 disabled:cursor-not-allowed"
      (click)="onPageChange(currentPage + 1)"
      [disabled]="filteredUsers.length < itemsPerPage">Next</button>
    <label for="itemsPerPage"
      class="text-gray-700 ml-8">Items per Page:</label>
    <select id="itemsPerPage"
      [(ngModel)]="itemsPerPage"
      (change)="onItemsPerPageChange($event)"
      class="border border-gray-400 rounded p-2 ml-2">
      <option *ngFor="let option of [10, 20, 50, 100]"
        [value]="option">{{ option }}</option>
    </select>
  </div>


  <!-- Define team creation -->
  <div class="mb-3">
    <h2>Create Team</h2>
    <div class="team-members">
      <p *ngIf="team.length === 0">No team members selected</p>
      <div *ngFor="let member of team">{{ member.name }} - {{ member.domain }}</div>
    </div>
    <button mat-raised-button
      color="accent"
      (click)="createTeam()">Create Team</button>
  </div>

  <!-- Define team details -->
  <div *ngIf="teamDetails"
    class="mb-3">
    <h2>Team Details</h2>
    <div *ngFor="let member of team">{{ member.name }} - {{ member.domain }}</div>
  </div>
</div>
